= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :mark_car
    = f.text_field :mark_car
  .field
    = f.label :model_car
    = f.text_field :model_car
  .field
    = f.label :number_car
    = f.text_field :number_car
  .field
    = f.label :last_visit
    = f.text_field :last_visit
    .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :second_name
    = f.text_field :second_name
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.label :contact_phone
    = f.text_field :contact_phone
  .field
    = f.label :description
    = f.text_field :description
  .actions

    = f.submit 'Save'
