= form_for @person do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :string
    = f.text_field :string
  .field
    = f.label :patronymic
    = f.text_field :patronymic
  .field
    = f.label :sex
    = f.text_field :sex
  .field
    = f.label :contact_phone
    = f.text_field :contact_phone
  .actions
    = f.submit 'Save'
