.page-header
  %h1= "#{@person.full_name}"
%dl
  .well.col-md-12
    .row
      .col-md-2
        %dt= Person.human_attribute_name(:mark_model)
        %dd= @person.full_model
      .col-md-2
        %dt= Person.human_attribute_name(:number_car)
        %dd= @person.number_car
      .col-md-2
        %dt= Person.human_attribute_name(:last_visit)
        %dd= l @person.last_visit, format: :default
    .row
      .col-md-2
        %dt= Person.human_attribute_name(:contact_phone)
        %dd= @person.contact_phone
      .col-md-2
        %dt= Person.human_attribute_name(:fio)
        %dd= @person.full_name
      .col-md-2
        %dt= Person.human_attribute_name(:description)
        %dd= @person.description
    .row
      .col-md-2
        %dt= Person.human_attribute_name(:files)
        - @person.people_file_cars.each do |f|
          - f.file_car.avatars.each do |file|
            %dd= link_to "#{file.file.filename}", file.url ,target: '_blank'
.text-center
  %br/
  %br/
  = link_to 'Edit', new_file_car_path(), params[person_id: @person_id]
  = link_to 'К кспику клиентов', people_path, class: 'btn btn-primary btn-sm'
  = link_to 'Изменить', edit_person_path(@person), class: 'btn btn-primary btn-sm', title: 'Добавить нового клиентов'
  = link_to 'Удалить', @person, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: 'Вы уверены?' }
