%table.table.table-hover
  %caption
    = link_to quick_pows_path, class: 'btn btn-default' do
      = fa_icon 'arrow-left'
      = t('buttons.back')

= form_for @quick_pow do |f|
  = error_messages_for @quick_pow
  .row
    .col-md-4
      .form-group
        = f.label :basis
        = f.text_field :basis, class: 'form-control'
        = f.error_messages_for(:basis)
    .col-md-4
      .form-group
        = f.label :exponent
        = f.text_field :exponent, class: 'form-control'
        = f.error_messages_for(:exponent)
    .col-md-4
      .form-group
        = f.label :ring_of_residues
        = f.text_field :ring_of_residues, class: 'form-control'
        = f.error_messages_for(:ring_of_residues)
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-success'
