.page-header
  %h1= t('headers.quick_pows.index')

%table.table.table-hover
  %caption
    = link_to new_quick_pow_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.quick_pow')
.row
  - @quick_pows.each do |quick_pow|
    .col-md-4
      .panel.panel-default
        .panel-header
          .col-xs-12.text-right
            .btn-group.btn-group-ms
              .black-button
                = "[#{quick_pow.id}]"
                = link_to edit_quick_pow_path(quick_pow) do
                  = fa_icon :pencil
                = link_to quick_pow, :method => :delete, :data => { :confirm => t('buttons.confirm.quick_pow') } do
                  = fa_icon :times
        .panel-body
          %math
            %mrow
              %mrow
                %msup
                  %mi= quick_pow.basis
                  %mn= quick_pow.exponent
                %mo (mod
                %mo= quick_pow.ring_of_residues
                %mo )
              %mo =
              %mo= quick_pow.result
