.page-header
  %h1= t('headers.check_lists.index')



%table.table.table-hover
  %thead
    %tr
      %th= CheckList.human_attribute_name(:person_id)
      %th= CheckList.human_attribute_name(:user_id)
      %th= CheckList.human_attribute_name(:services)
      %th= CheckList.human_attribute_name(:price)
      %th= CheckList.human_attribute_name(:sale)


  %tbody
    - @check_lists.each do |check_list|
      %tr.tr-href
        %td= check_list.person.first_name
        %td= check_list.admin.second_name
        %td
          - check_list.orders.each do |order|
            %dd= order.name_service + " #{order.price} " + "руб."
        %td= check_list.price
        %td= check_list.sale
