= simple_form_for @check_list, html: { class: 'col-md-6 col-md-offset-3 text-center', role: 'form1' } do |f|
  .well
    .row
      = f.input :person_id, as: :hidden, input_html: {value: params[:id]}
      #tasks
        = f.simple_fields_for :orders do |order|
          = render 'order_fields', f: order
        .links
          %br
          = link_to_add_association 'Добавить услууr', f, :orders, class: 'btn btn-success'

  %br/

  .form-actions
    = link_to "Назад", Person,  class: 'btn btn-primary'
    = f.submit 'Сохранить', class: 'btn btn-primary'
