.page-header
  %h1= t('headers.check_lists.index')


= search_form_for @q , html: { class: 'form-inline form-inline-search form-inline-5 text-center', role: 'form' } do |f|
  = f.search_field 'admin_cont', class: 'form-control', placeholder: "Фамили, Имя или Отчество"

  %br
  %br
  .inline.text-center
    = f.submit 'Поиск', class: 'btn btn-primary'
    = link_to 'Сбросить', check_lists_path, class: 'btn btn-default'
%table.table.table-hover.sortable
  %thead
    %tr
      %th= CheckList.human_attribute_name(:person_id)
      %th= CheckList.human_attribute_name(:admin_id)
      %th= CheckList.human_attribute_name(:services)
      %th= CheckList.human_attribute_name(:price)
      %th= CheckList.human_attribute_name(:sale)
      %th= CheckList.human_attribute_name(:order_date)


  %tbody
    - @check_lists.each do |check_list|
      %tr.tr-href
        %td= check_list.person.full_name
        %td= check_list.admin.present? ? (check_list.admin.full_name) : "отсутствует"
        %td
          - check_list.orders.each do |order|
            %dd= order.name_service + " #{order.price} " + "руб."
        %td= "#{check_list.price} руб."
        %td= "#{check_list.sale} руб."
        %td= check_list.order_date.present? ? (l check_list.order_date, format: :default) : "отсутствует"
.page-header.text-right
  %h4= "Сумма #{@sum} руб."
