%h1 Listing check_lists

%table
  %thead
    %tr
      %th Person
      %th Order
      %th User
      %th
      %th
      %th

  %tbody
    - @check_lists.each do |check_list|
      %tr
        %td= check_list.person
        %td= check_list.order
        %td= check_list.user
        %td= link_to 'Show', check_list
        %td= link_to 'Edit', edit_check_list_path(check_list)
        %td= link_to 'Destroy', check_list, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Check list', new_check_list_path
