<%= form_for(@rc4_program) do |f| %>
  <% if @rc4_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rc4_program.errors.count, "error") %> prohibited this rc4_program from being saved:</h2>

      <ul>
      <% @rc4_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :key %><br>
    <%= f.text_field :key %>
  </div>
  <div class="field">
    <%= f.label :transient_message %><br>
    <%= f.text_field :transient_message %>
  </div>
  <div class="field">
    <%= f.label :chanted_message %><br>
    <%= f.text_field :chanted_message %>
  </div>
  <div class="field">
    <%= f.label :message_text %><br>
    <%= f.text_field :message_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
