# coding: utf-8
<p id="notice"><%= notice %></p>

<h1>Listing Rc4 Programs</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Transient message</th>
      <th>Chanted message</th>
      <th>Message text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rc4_programs.each do |rc4_program| %>
      <tr>
        <td><%= rc4_program.key %></td>
        <td><%= rc4_program.transient_message %></td>
        <td><%= rc4_program.chanted_message %></td>
        <td><%= rc4_program.message_text %></td>
        <td><%= link_to 'Show', rc4_program %></td>
        <td><%= link_to 'Edit', edit_rc4_program_path(rc4_program) %></td>
        <td><%= link_to 'Destroy', rc4_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rc4 program', new_rc4_program_path %>
