<p id="notice"><%= notice %></p>

<p>
  <strong>Ключ:</strong>
  <%= @rc4_program.key %>
</p>

<p>
  <strong>Передаваемое смс:</strong>
  <%= @rc4_program.transient_message %>
</p>

<p>
  <strong>Кодированое смс:</strong>
  <%= @rc4_program.chanted_message.encode('UTF-8', invalid: :replace, undef: :replace, replace: '') %>
</p>

<p>
  <strong>Текст сообщения который был:</strong>
  <%= (@rc4_program.message_text.nil?) ? @rc4_program.message_text : @rc4_program.message_text.encode('UTF-8', invalid: :replace, undef: :replace, replace: '') %>
</p>

<%= link_to 'Edit', edit_rc4_program_path(@rc4_program) %> |
<%= link_to 'Back', rc4_programs_path %>
