= form_for @file_car do |f|
  - if @file_car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@file_car.errors.count, "error")} prohibited this file_car from being saved:"
      %ul
        - @file_car.errors.full_messages.each do |message|
          %li= message
  .field
    =f.file_field :avatars, multiple: true
  .actions
    = f.submit 'Save'
